.container{
    background-image: url('../../Image/Home.jpg');
    background-position: 0px 0px;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: auto;
    margin-top: -22px;
    /* height: 120vh; */
}


.card {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr ; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 50px 180px; 
    
}

.conten{
    display: flex;
    justify-content: center;
    padding-top: 100px;    
}

.reload{
  color: #000000;
  background: rgba(128, 128, 128, 0.557);
  font-size: 16px;
	padding: 10px 10px;
  margin-top: 20px;
  margin-bottom: -10px;
  border-radius: 5px;
  
}

.reload:hover{
  opacity: .7;
  background: rgba(63, 63, 63, 0.557);
  color: #000000;
  font-weight: bolder;

}

