.container{
    background-image: url('../../Image/Home.jpg');
    background-position: 0px 0px;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: auto;
    /* margin-top: -35px; */
}

