
.container {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url('../../Image/trekking2.jpg');
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
  }

.actBox {
  margin-left: 34vw;
  /* margin-top: 4vw; */
  width: 33vw;
  height: 33vw;
  border-radius: 30px;
  background-color: rgba(128, 128, 128, 0.557);
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
             -15px -15px 30px rgb(60, 60, 60);
 
}

  .inputName{
    border-color: #252422;
    border-radius: 2px;
    font-size: 16px;
    background-color: rgb(177, 169, 169);
    color: #0d0d0d;
    font-style: oblique;
    text-align: center;
    margin-bottom: 1vw;
}

  
.name{
  color: #0d0d0d;
  font-style: oblique;
  font-size: 20px;
  margin-right: 10px;
  font-weight: bold;
}

.difficulty{
  color: #0d0d0d;
  font-style: oblique;
  font-size: 20px;
  margin-right: 10px;
  font-weight: bolder;
  margin-left: -8vw;
}

.barraDifficulty, .barraCountries, .barraDuration, .barraSeason{
  border-color: #252422;
  border-radius: 2px;
  font-size: 16px;
  background-color: rgb(177, 169, 169);
  color: #0d0d0d;
  font-style: oblique;
  margin-bottom: 1.5vw;    
}

.duration{
  color: #0d0d0d;
  font-style: oblique;
  font-size: 20px;
  margin-right: 10px;
  font-weight: bolder;
}

.season{
  color: #0d0d0d;
  font-style: oblique;
  font-size: 20px;
  margin-right: 10px;
  font-weight: bolder;
  margin-left: -6.5vw;

}

.btnBack{
  color: #000000;
  background: #ffffff;
  font-size: 16px;
  margin-right: 3vw;
  padding: 10px 10px;
  border-radius: 5px; 
  opacity: .7;
  width: 8vw;
  margin-top: 20px; 
}

.btnBack:hover{
  opacity: .7;
  background: #ffffff;
  color: #000000;
  font-weight: bolder;
  cursor: pointer;
}

.btnCreate{
  color: #000000;
  background: #ffffff;
  font-size: 16px;
  padding: 10px 10px;
  border-radius: 5px; 
  opacity: .7; 
  border-color: #0d0d0d;  
}

.btnCreate:hover{
  opacity: .7;
  background: #ffffff;
  color: #000000;
  font-weight: bolder;
  cursor: pointer;
}

.title{
  color: #252422;
  font-style: oblique;
  font-weight: 700;
  font-size: 50px;
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 38ch;
  margin-left: 18vw;
  
  animation: typing 5s steps(38), blink .5s infinite alternate;
  overflow: hidden;
}
@keyframes typing{
  from {width: 0 }
}

@keyframes blink {
  50% {border: transparent}
}

.subTitle{
  color: #252422;
  font-style: oblique;
  font-weight: 500;
  font-size: 40px;
  display: block;
  white-space: nowrap;
  margin-left: 2.5vw;
}


.btnDelete{
  border-color: #252422;
  border-radius: 2px;
  font-size: 16px;
  background-color: rgb(177, 169, 169);
  color: #0d0d0d;
  font-style: oblique;
  margin-bottom: 1vw; 
  
}
.btnDelete:hover{
  border-color: #252422;
  border-radius: 2px;
  font-size: 16px;
  background-color: rgb(126, 20, 20);
  color: #ffffff;
  font-style: oblique;
  margin-bottom: 1vw; 
}



.chosenCountry{
margin-bottom: 50px;
}

.ext{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
 




.idCountry{
  color: #0d0d0d;
  font-style: oblique;
  font-size: 16px;
  font-weight: bolder;
 margin-top: -10vw; 
}

.countries{
  color: #0d0d0d;
  font-style: oblique;
  font-size: 20px;
  margin-right: 10px;
  font-weight: bolder;

}

.errorName{
  color: #0d0d0d;
  /* font-style: oblique; */
  font-size: 16px;
  margin-right: 10px;
  text-decoration: solid underline;
  font-weight: bolder;   
}

.barraCountries{
  border-color: #252422;
  border-radius: 2px;
  font-size: 18px;
  width: 30vw;
  background-color: rgb(177, 169, 169);
  color: #0d0d0d;
  font-style: oblique;
  margin-bottom: 1vw;   
  margin-top: 1.5vw; 
}