.container {
    display: flex;
    flex-direction: row;   
    justify-content: space-evenly
  }
 
  .population{
    color: #000000;
    background: rgba(128, 128, 128, 0.557);
    font-size: 16px;
    padding: 10px 10px;
    margin-top: 20px;
    margin-bottom: -10px;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    width: 15vw
  }
 .population:hover{
    opacity: .7;
    background: rgba(63, 63, 63, 0.557);
    color: #000000;
    font-weight: bolder;
 }

.continent{
  color: #000000;
  background: rgba(128, 128, 128, 0.557);
  font-size: 16px;
  padding: 10px 10px;
  margin-top: 20px;
  margin-bottom: -10px;
  border-radius: 5px;
  border-color: black;
  border-width: 2px;
  width: 15vw
}
.continent:hover{
  opacity: .7;
  background: rgba(63, 63, 63, 0.557);
  color: #000000;
  font-weight: bolder;
}

.letter{
  color: #000000;
  background: rgba(128, 128, 128, 0.557);
  font-size: 16px;
  padding: 10px 10px;
  margin-top: 20px;
  margin-bottom: -10px;
  border-radius: 5px;
  border-color: black;
  border-width: 2px;
  width: 15vw
}
.letter:hover{
    opacity: .7;
    background: rgba(63, 63, 63, 0.557);
    color: #000000;
    font-weight: bolder;
}


.activity{
  color: #000000;
  background: rgba(128, 128, 128, 0.557);
  font-size: 16px;
  padding: 10px 10px;
  margin-top: 20px;
  margin-bottom: -10px;
  border-radius: 5px;
  border-color: black;
  border-width: 2px;
  width: 15vw
}
.activity:hover{
    opacity: .7;
    background: rgba(63, 63, 63, 0.557);
    color: #000000;
    font-weight: bolder;
}

